* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

main {
    width: 100%;
}

.card {
    width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
}

.top {
    width: 86%;
    height: 310px;
    background-image: url(images/image-equilibrium.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    margin-top: 7%;
}

.top-hover {
    width: 100%;
    height: 100%;
    background-position: absolute;
    background-size: cover;
    background-color: hsl(178, 100%, 50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.top-hover:hover {
    opacity: 1;
    border-radius: 7px;
}

.top:hover {
    cursor: pointer;
}

.bottom {
    width: 86%;
    font-family: Arial, Helvetica , sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    row-gap: 20px;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

h1:hover, .p-name-white:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.description {
    color: hsl(215, 51%, 70%);
    line-height: 1.7;
    font-size: 18px;
}

.price-countdown {
    display: flex;
    justify-content: space-between;
}

.price {
    color: hsl(178, 100%, 50%);
    display: flex;
    gap: 7px;
    font-weight: bold;
}

.countdown {
    color: hsl(215, 51%, 70%);
    display: flex;
    gap: 7px;
    font-weight: bold;
}

.line {
    background-color: hsla(215, 51%, 70%, 20%);
    height: 1.5px;
}

.name {
    display: flex;
    align-items: center;
    margin-bottom: 7%;
}

.name img {
    height: 38px;
    border-radius: 100px;
    border: 1.9px solid #fff;
}

.p-name-colored {
    color: hsl(215, 51%, 70%);
    padding-left: 18px;
    padding-right: 6px;
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    .card {max-width: 600px;}
}
